div.notify {
  position: fixed;
  top: 20%;
  margin-top: -20px;
  padding: 20px 0;
  width: 100%;
  font-size: 18px;
  border-width: 4px;
  text-align: center;
  z-index: 20000;
  color: #fff;
  &.alert-success {
    background-color: #55C607;
  }
  &.alert-error {
    background-color: #ff0000;
  }
  #flash_notice {
    display: inline-block;
  }
  a.close {
    float: none;
    display: inline-block;
    color: #aaa;
    padding: 0px 7px 5px;
    border: 2px #cccccc solid;
    border-radius: 26px;
    background-color: #fff;
    line-height: 1;
    opacity: 1;
    font-size: 18px;
    vertical-align: middle;
  }
}